
.about-wrapper {
    //height: 100vh;
    width: 100vw;
    background-size: cover;
    //background: $bgColor;


    .about-content-wrapper {
        .inner-wrapper {
            @media screen and (min-width: 720px) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

            }
            display: flex;
            flex-direction: column;
            .profile-pic {
                width: 92%;
                height: 220px;
                background-image: url('../src/images/me.jpg');
                background-position: center;
                background-size: cover;
                border-radius: 2px;
              
            }
        }
        width: 90%;
        min-width: 340px;
        max-width: 800px;
        padding: 40px 0;
        overflow-y: hidden;

        .about-container {
            //border: 3px solid white;
            padding: 0 0 15px 0; 
               }
        .about-profile-wrapper {
            @media screen and (min-width: 720px) {
                width: 45%;
                max-width: 400px;
                margin: 0 auto;
                }
            width: 84%;
            margin: 15px auto 10px auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: white;
            padding: 10px;
            border-radius: 4px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-bottom: 2px solid $borderColor;
                    h2 {
                color: $textColor;
            }
            p {
                font-size: 1em;
            }
        }
        .skills-container {
            @media screen and (min-width: 720px) {
                width: 48%;
                max-width: 400px;
            }
                        ul {
                display: flex;
                flex-direction: column;
                width: 90%;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                padding-bottom: 20px;
                li {
                    font-size: 1em;
                    font-weight: 600;
                    display: flex;
                    letter-spacing: 1.2px;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: baseline;
                    padding: 2px;
                    margin: 2px;
                    height: 30px;
                    width: 100%;

            
                    & > div {
                        width: 100%;
                        max-width: 500px;
                        .inner-wrapper {
                            display: flex;
                            justify-content: baseline;
                            .skill-name {
                                width: 100%;
                                align-self: center;
                                display: flex;
                                padding-left: 10px; 
                                position: relative;
                                top: 15px;
                                z-index: 2;  
                                color: white;
 
                                            }
                            .skill-level {
                                width: 44px;
                                z-index: 10;
                                opacity: 0.5;
                                font-size: 0.9em;
                            }
                        }             
                        .bar-wrapper {
                                position: relative;
                                z-index: 0;
                            .bar-background {
                                width: 100%;
                                background-color: rgb(207, 205, 205);
                                height: 18px;
                                /* border-radius: 3px; */
                                border-bottom: 2px solid #617575;
                                z-index: 1;
                            }
                            @for $level from 1 through 100 {
                                .bar-fill-#{$level} {
                                    width: $level * 1%;
                                    background-image: linear-gradient(to right,$barColor, #6b8eab);
                                    height: 18px;
                                    position: relative;
                                    top: -20px;
                                }
                            }

                        }           
                     
                       

                    }
                    
                        // div {
                        //     height: 20px;
                        //     width: 20px;
                        //     background-color: $borderColor;
                        //     position: relative;
                        //     margin: 1px;
                        //}
                    
                }
            }
           
        }

    }
    @media screen and (min-width: 720px) {
        background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
    color: $textColor;
    text-align: center;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    top: 0;
    // -webkit-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.75);
    // -moz-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.75);
    // box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.75);
    h1 {
        font-family: $headerFont;
        color: $textColor;
        // text-shadow: 9px 7px 15px black;        
        margin: 20px auto;
        width: 340px;
        text-align: center;
        font-size: 1.8em;
        letter-spacing: .7px;
        font-weight: bold;
        span {
            color: $textHighlightColor;
        }
    }
        h2 {
            font-family: $headerFont;
            color:$textColor;
            margin: 0px 0 15px 0;
            padding: 10px;
            text-align: center;
            font-size: 1.5em;
            //letter-spacing: .7px;
            
            
        }
        
}

a {
    color: $textHighlightColor;
    text-decoration: none;
    font-weight: 500;
}