@keyframes appear {
    0% {
        width: 0px;
      }
      30% {
        width: 30px;
      }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    width: 30px;
    height: 30px;
  }

  100% {
    transform: rotate(360deg);
   
  }
}