
$bgColor: #a4bac5;
$bgColorSecondary: #a4b7c4;
// $borderColor: #58ebf0;
$borderColor: #58a5f0;
$textColor: black;
$textHighlightColor: #ec407a;
$buttonColor:#0369b8;
$containerBgColor: rgba(177, 217, 241, 0.65);
$backgroundColorFooter:  rgb(121, 141, 155);
$barColor:#58a5f0;

 
