
$bgColor: #949393;
$bgColorSecondary: #c4c4c4;
$borderColor: #58ebf0;
$textColor: black;
$textHighlightColor: #ec407a;
$buttonColor:#0369b8;
$containerBgColor: rgba(229, 245, 255, 0.45);
$backgroundColorFooter:  rgb(73, 78, 82);
 
