#contact {
    background-color: $bgColorSecondary;
}

.contact-content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    max-width: 80%;
    justify-content: space-evenly;
    margin-bottom: 100px;

    p {
        text-align: center;
        font-size: .9em;
        a {
            color: $textHighlightColor;
            text-decoration: none;
            font-weight: 500;
        }
    }

}

.contactform-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
        input, textarea {
        border: 1px solid $borderColor;
        padding: 3px;
        margin-bottom: 10px;
        font-size: 15px;
        font-family: $mainFont;
    }
}

.alert-box {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    bottom: 0px;
    z-index: 100;
    background-color: $barColor;
    font-size: small;
    width: 250px;
    height: 50px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 0 auto;
    animation-name: slide-up;
    animation-duration: 2s;
    transition: width 2s linear 1s;
}