$mainFont: 'Raleway', sans-serif;
$headerFont: 'Raleway-bold', sans-serif;

html {
    scroll-behavior: smooth;
}

body {
    display: block;
    margin: 0 auto;
    font-family: $mainFont;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
    @media screen and (min-width: 720px) {
        background-color:$bgColor;
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    align-items: center; 
    overflow: hidden;
    &.footer {
        background-color: $backgroundColorFooter;
        overflow: visible;
    }      
}
#about {
    background: #ffffff;
    }

p {
    font-size: 1.1em;
    line-height: 1.4em;
    margin: 5px;
    span {
        color: $textHighlightColor;
    }    
}

h1 {
    font-family: $headerFont;
    color: white;
    margin: 20px 10px;
    text-align: center;
    font-size: 1.8em;
    line-height: 1.4em;
    letter-spacing: .3px;
    font-weight: 300;
    span {
        color: $textHighlightColor;
    }
}

h2 {
    font-family: $headerFont;
    color: black;
    margin: 0px 0 15px 0;
    padding: 10px;
    text-align: center;
    letter-spacing: .7px;
}
