$mainFont: 'Raleway', sans-serif;
html {
    scroll-behavior: smooth;
}

body {
    display: block;
    margin: 0 auto;
    font-family: $mainFont;
    list-style: none;
    text-decoration: none;
    overflow-x: hidden;
    @media screen and (min-width: 720px) {
        background-color:$bgColor;
    }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    align-items: center; 
    overflow: hidden;
    &.footer {
        background-color: $backgroundColorFooter;
        overflow: visible;
    }      
}
#about {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #e1e1e1 84%, #e1e1e1 99%, #e1e1e1 99%, #f1f1f1 100%, #f6f6f6 100%, #f1f1f1 102%);
    background: -webkit-linear-gradient(top, #ffffff 0%,#e1e1e1 84%,#e1e1e1 99%,#e1e1e1 99%,#f1f1f1 100%,#f6f6f6 100%,#f1f1f1 102%);
    background: linear-gradient(to bottom, #ffffff 0%,#e1e1e1 84%,#e1e1e1 99%,#e1e1e1 99%,#f1f1f1 100%,#f6f6f6 100%,#f1f1f1 102%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f1f1f1',GradientType=0 );
    }

p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 5px;
    span {
        color: $textHighlightColor;
    }    
}

h1 {
    font-family: $mainFont;
    color: $textColor;
    margin: 20px auto;
    text-align: center;
    font-size: 1.8em;
    letter-spacing: .7px;
    font-weight: bold;
    span {
        color: $textHighlightColor;
    }
}

h2 {
    font-family: $mainFont;
    color: black;
    margin: 0px 0 15px 0;
    padding: 10px;
    text-align: center;
    letter-spacing: .7px;
}
