.header-wrapper {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-image: url('../src/images/bg-image-iceland.jpg');
    @media screen and (max-width: 720px) {
        background-image: url('../src/images/bg-image-iceland-mobile.png');
    }
   
    .home-content-wrapper {
        background-color: $containerBgColor;
        width: 60%;
        min-width: 340px;
        padding: 40px 0;
        transition-timing-function: ease-in;

    }
    @media screen and (min-width: 720px) {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    color: $textColor;
    text-align: center;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    top: 0;
    -webkit-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.75);
    &:h1 {
        font-family: $mainFont;
        color: white;
        margin: 20px auto;
        text-align: center;
        font-size: 1.8em;
        letter-spacing: .7px;
        font-weight: 300;
       // width: 300px;
        span {
            color: $textHighlightColor;
        }
        @media screen and (max-width: 720px) {
            width: 300px;

        }
    }
   
}

.primary-button  {
   border: 1px solid white;
   background-color: transparent;
   font-size: 1.2em;
   padding: 5px;
   width: 180px;
   color: white;
   font-family: inherit;
   transition: 0.5s;
   @media screen and (min-width: 720px) {
    &:hover {
        background-color:#58a5f0;
    }
  }
   
   &:focus {
    outline: 0;
    outline-color: transparent;
    outline-style: none;
  }
   @keyframes blinker {
    from {
    background-color: transparent
    }
    to {
        background-color: #58a5f0
    }
  }
  &.blink{
      text-decoration: blink;
      animation-name: blinker;
      animation-duration: 2.6s;
      animation-iteration-count:infinite;
      animation-timing-function:ease-in-out;
      animation-direction: alternate;
  }
 
}

