.navigation-wrapper {
    height: 50px;
    border-bottom: 5px solid $borderColor;
    background-color: hsl(240, 100%, 4%);
    position: sticky;
    top: 0;
    z-index: 5;
    .list-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
       
    }
    
    @media screen and (min-width: 720px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
  
    .navigation-list {
        display: block;
    width: 100%;
    @media screen and (min-width: 720px) { 
        display: flex;
        flex-direction: row;
        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: $textHighlightColor;
                transition: 1s;
            }
        }
        /* background: #01355f; */
        padding: 15px;
        align-content: center;
        justify-content: space-evenly;
        font-size: 1.3em;
        width: 80%;
        max-width: 700px;
        
    }
       
    }

@media screen and (max-width: 720px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    }

}
@media screen and (max-width: 720px) {
    .show-menu {   
        animation: slide-in-blurred-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        width: 100%; 
            .navigation-list {
                display: block;
                position: relative;
                top: 116px;            
                display: flex;
                flex-direction: column;
                background:#000021;
                padding: 10px;
                align-content: center;
                justify-content: center;
                li {
                    a {
                        color: white;
                        font-size: 1.2em; 
                        padding: 10px;
                        letter-spacing: 1px; 
                        text-decoration: none;
                    }
                    color: white;
                    font-size: 1.2em; 
                    padding: 10px;
                    letter-spacing: 1px;          
                }
                
        }
        
    }
    .hide-menu {
        &.list-wrapper {
            animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;

            display: none;
        }
    }
  
}

.burger-menu-icon {
    background-color: transparent;
    position: absolute;
    right: 5px;
    div {
        width: 42px;
        height: 4px;
        background-color: white;
        margin: 7px 0;
        border-radius: 3px;
        border: 1px solid #3c3a3a;
    }
    @media screen and (min-width: 720px) {
        display: none;
        }

    // @keyframes bounce {
    //     0% {
    //       left: 5px;
    //     }
    //     50% {
    //       left: 10px;
    //     }
    //     100% {
    //       left: 0px;
    //     }
    //   }
      
    // &:hover {
    //     cursor: pointer;
    //     animation: bounce 1s 1 ease; 
    // }
}