.projects-content-wrapper {
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $textColor;
    background-color: $backgroundColorFooter;
    padding-bottom: 30px;
    background: #cecece;
background: -moz-linear-gradient(top, #cecece 0%, #a3a3a3 100%);
background: -webkit-linear-gradient(top, #cecece 0%,#a3a3a3 100%);
background: linear-gradient(to bottom, #cecece 0%,#a3a3a3 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#a3a3a3',GradientType=0 );
    
    h1 {
        padding: 20px 20px 20px 20px;
        font-size: 1.5em;
    //letter-spacing: .7px;
    font-weight: bold;
        
    }
    p {
        width: 80%;
        max-width: 800px;
        text-align: center;
        font-size: 1em;
    }
}
.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    //li {
        //animation: fade-in-bl 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    //}
}

.slider-nav {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}

.filtering-wrapper {
    display: flex;
    direction: row;
    align-content: center;
    justify-content: center;
    width: 100%;
}

ul {
        &.filtering-nav {
            display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        }
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (min-width: 720px) {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            max-width: 800px;
        }
        li { 
            margin: 5px;
            }
        }
        
    
.projects-text {
    margin-top: 50px;
    font-size: 14px;
}

.button {

    height: 30px;
    width: 80px;
    &.active {
        background-color: $textHighlightColor;
        color: white;
    }
    font-size: 14px;
    border: 0;
    border-bottom: 1px solid $textHighlightColor;
    background: none;
    transition: ease 1s;
    outline: 0;
}

.project-slide {
    //border-bottom: 2px solid $borderColor;
    h2 {
        width: 100%;
        padding: 10px 0 10px 0;
        font-family: $headerFont;
        font-size: 1.2em;
        background-color: rgba(255, 255, 255, 0.6) ;
    }
    div {
        background-color: rgba(255, 255, 255, 0.6) ;
        transition-duration: 0.5s;       
        padding-top: 15px; 
            &.hide {
                opacity: 0;
            }
            &.show {
            opacity: 100%;
            }
            
            
        p {
            text-align: center;
            //background-color: rgba(255, 255, 255, 0.5);
            margin: 0 auto;
            width: 100%;
            font-size: 14px;
          
        }
        &.slide-nav-wrapper {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-bottom: 20px;
             button {
                height: 30px;
                width: 60px;
                background-color: $textHighlightColor;
                color: white;
                border: 0;
                margin: 3px;
                font-family: $mainFont;
                font-size: 16px;
                &.right {
                    border-right: 0;
                }
                &.left {
                    border-left: 0;
                }
            }
        }
    }
    
    height: 280px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}